<div class="flex column vh-100">
  <section class="hero is-primary">
    <div class="hero-body">
      <p class="title">
        Algo na fotbálek s chlapáky
      </p>
      <p class="subtitle">
        Platí pouze pokud hrajeme každy s každým a je nás 5, přičemž jeden z pašáků sedí na lavičce.
      </p>
    </div>
  </section>
  <div class="container w-100">

    <form [formGroup]="lobbyForm">
      <section *ngIf="!lobby"
               class="section w-75">
        <h1 class="title">Hráči</h1>
        <div class="field">
          <label class="label">Ondros</label>
          <div class="control">
            <input class="input"
                   formControlName="Ondros"
                   type="text"
                   placeholder="Ondros">
          </div>
          <p *ngIf="!f.Ondros.value || f.Ondros.value === 'Ondros' "
             class="help">Signature move: Protoč/nebylprotočmrda</p>
        </div>
        <div class="field">
          <label class="label">Majkl Golees</label>
          <div class="control">
            <input class="input"
                   formControlName="Majkl"
                   type="text"
                   placeholder="Majkl Golees">
          </div>
          <p *ngIf="!f.Majkl.value || f.Majkl.value === 'Majkl Golees'"
             class="help">Signature move: Golisovka</p>
        </div>
        <div class="field">
          <label class="label">Radkos</label>
          <div class="control">
            <input class="input"
                   formControlName="Radkos"
                   type="text"
                   placeholder="Radkos">
          </div>
          <p *ngIf="!f.Radkos.value || f.Radkos.value === 'Radkos'"
             class="help">Signature move: Mrda jak piča</p>
        </div>
        <div class="field">
          <label class="label">Denny</label>
          <div class="control">
            <input class="input"
                   formControlName="Denny"
                   type="text"
                   placeholder="Denny">
          </div>
          <p *ngIf="!f.Denny.value || f.Denny.value === 'Denny'"
             class="help">Signature move: idk</p>
        </div>
        <div class="field">
          <label class="label">Filipos</label>
          <div class="control">
            <input class="input"
                   formControlName="Filipos"
                   type="text"
                   placeholder="Filipos">
          </div>
          <p *ngIf="!f.Filipos.value|| f.Filipos.value === 'Filipos'"
             class="help">Signature move: Technikálie</p>
        </div>
        <div class="buttons">
          <button (click)="generujZapasy()"
                  class="button is-primary">Generuj zápasy</button>
        </div>
      </section>
    </form>

    <section *ngIf="zapasy.length > 0 "
             class="section flex-1">
      <h1 class="title">Zápasy</h1>
      <table class="table">
        <thead>
          <tr>
          <tr>
            <th><abbr title="Position">Číslo zápasu</abbr></th>
            <th>Tým 1</th>
            <th><abbr title="Played">Tým 2</abbr></th>
            <th><abbr title="Played">Střídačka</abbr></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th><abbr title="Position">Číslo zápasu</abbr></th>
            <th>Tým 1</th>
            <th><abbr title="Played">Tým 2</abbr></th>
            <th><abbr title="Played">Střídačka</abbr></th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let zapas of zapasy; let i = index;">
            <th>{{ i + 1 }}.</th>
            <td> {{ zapas.tym1 }}</td>
            <td> {{ zapas.tym2 }}</td>
            <td> {{ zapas.stridac }}</td>
          </tr>
        </tbody>
      </table>
      <div class="buttons">
        <button (click)="generujZapasy()"
                class="button is-primary">Generuj zápasy</button>
        <button (click)="vyclearujLobby()"
                class="button is-danger">Znovu</button>
      </div>
    </section>
  </div>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Věnováno památce ostřílenému scrum masterovi <strong>Jakalovi</strong>.
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
</div>